* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* thiết lập style cho slideshow container */
.slideshow-container {
  width: 1230px;
  height: 600px;
  position: relative;
  margin: auto;
  overflow: hidden;
}
/* ẩn hình ảnh cho phần tử slideshow */
.mySlides {
  display: none;
}
/* thiết kế nút mũi tên*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* thiết kế nút mũi tên next nằm phía bên phải */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Thiết lập style cho nội dung của mỗi phần tử slideshow */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Thiết lập style cho số hiển thị của phần tử */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.active {
  background-color: #717171;
}
/* tạo hiệu ứng chuyển động fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.bg-layout {
  padding: 80px 0 !important;
}
.title {
  padding: 90px 0 60px !important;
}
.a-place-title {
  font-size: 36px;
  margin: 0 0 22px;
}
.content-noiban {
  margin-bottom: -80px;
}
.content-noiban .content-down-slider {
  margin: 145px 500px;
  font-size: 22px;
  text-align: justify;
  font-weight: 500;
}
.about-mot {
  margin-top: 80px;
}
.translate-title {
  margin-top: 20px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
